.calculator {
  display: grid;
  gap: 10px;
  grid-template: 50px 50px 50px 50px 50px 50px / 50px 50px 50px 50px;
  align-content: space-around;
  justify-content: center;
  background-color: blue;
}

.calculator > div {
  grid-column: 1/5;
  background-color: rgb(215, 14, 14);
  font-size: 25px;
  font: bolder;
  color: black;
  text-align: right;
}

.qualBtn {
  grid-column: 1/5;
}
