.calculator {
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template: 75px 75px 75px 75px 75px 75px / 75px 75px 75px 75px;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(#aa1155, #a489a3, #f8afa9);
}

.calculator > div {
  padding-top: 19px;
  padding-right: 8px;
  grid-column: 1/5;
  background-color: transparent;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  text-align: right;
  border-radius: 10px;
  border: solid white;
}

.qualBtn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-column: 2/5;
  font-size: x-large;
  border-radius: 10px;
  border: solid white;
  background-color: transparent;
}

.number {
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  border: solid white;
  background-color: transparent;
}
.number:hover,
.qualBtn:hover {
  background-color: transparent;
  border-color: #bd4275;
}
.number:focus,
.qualBtn:focus {
  background-color: white;
  opacity: 0.8;
}
